<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>room Join</title>

<script src="/socket.io/socket.io.js"></script>
<script src="//code.jquery.com/jquery-1.12.0.min.js"></script>


<script type="text/javascript">

$(document).ready(function(){
	var mem_ID = '<%= mem_ID %>';
	if(mem_ID == ''){
		alert('로그인을 다시해주세요!');
		location.href='http://localhost/Study_Anywhere';
		return;
	}
})

// 소켓 이벤트를 연결합니다.
var socket = io.connect();

socket.emit('join', '<%= roomname %>');

socket.on('redirect', function(redirect) {
	if(redirect.bool){
	    $('#goto').attr('action', redirect.destination);
	    $('#goto').attr('method', redirect.method);
	    $('#goto').submit();
	}else{
		alert('오류가 발생하여 로비로 돌아갑니다.');	
		$('#goto').attr('action', redirect.destination);
	    $('#goto').attr('method', redirect.method);
	    $('#goto').submit();
	}
}); 


</script>

</head>
<body>


<form id="goto">
	<input type="hidden" name="roomname" value="<%= roomname %>">
	<input type="hidden" name="mem_ID" value="<%= mem_ID%>">
</form>

</body>
</html>