<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>
    
        $(document).ready(function(){
           
            
            
        });
    
    </script>
    
</head>
<body>
    <h1><%= data.userrooms[0].roomname %></h1>
</body>
</html>